*{
    padding: 0px;
    margin: 0px;
}
:root{
    --cor-MarromClaro: #956113;
    --cor-MarromEscuro: #1D1100;
    --cor-MarromGradiente: #BC5408;
    --cor-PurpleGradiente: #E91A3F;
}
@keyframes animaçãoLinha {
    0%{
        margin-left: 0%;
    }
    100%{
        margin-left: 60%;
    }
}
body{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
}
#Menu{
    width: 40%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ApresentaçãoBox{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    height: 50vh;
}
#BemVindoTitle{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#BemVindoTitle h1{
    color: var(--cor-MarromClaro);
    font-size: 30pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#LinhaEnfeite{
    height: 2px;
    width: 20%;
    background-color: white;
    animation-name: animaçãoLinha;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#BemVindoText{
    margin-top: 50px;
    width: 100%;
}
#BemVindoText p{
    color: white;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#RedirectBox{
    margin-top: 50px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
#RedirectBox a{
    text-decoration: none;
    color: gray;
    font-family: cursive;
}
#RedirectBox a:hover{
    color: var(--cor-MarromClaro);
    transition: 0.3s;
}
#BttLerMais{
    transition: 0.3s;
    margin-top: 10px;
    height: 30px;
    width: 80px;
    padding-bottom: 2px;
    border: none;
    color: white;
    background-image: linear-gradient( to right, var(--cor-MarromGradiente), var(--cor-PurpleGradiente));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 3px;
    cursor: pointer;
}
#BttLerMais:hover{
    transition: 0.2s;
    scale: 1.05;
}
#AbaSigin{
    width: 60%;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--cor-MarromClaro), var(--cor-MarromEscuro));
    display: flex;
    flex-direction: column;
    align-items: center;
}
#BttChangeScreen{
    width: 30%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.ClassSelect{
    height: 18px;
    width: 18px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.ClassNoSelect{
    height: 18px;
    width: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.centerBtt{
    height: 4px;
    width: 4px; 
    background-color: white;
    border: none;
    border-radius: 2px;
}
#linhaSeparadora{
    height: 1px;
    width: 150px;
    background-color: white;
}
#ColectInfo{
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#ColectInfo h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Form{
    margin-top: 30px;
    width: 100%;
}
.caixaInput{
    background: none;
    margin-top: 10px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.123);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.InputImage{
    width: 15px;
    margin-left: 10px;
}
#iconEmail{
    filter: invert(100%);
}
.InfoInput{
    background: none;
    width: 80%;
    border: none;
    outline: none;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 10pt;
    color: white;
}
.InfoInput:-webkit-autofill {
    background-color: green !important;
  }
.InfoInput::placeholder{
    color: rgba(255, 255, 255, 0.39);
}
#CaixaDeChecagem{
    width: 200px;
    margin-left: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
#checkbox{
    border: 1px solid white;
    border-radius: 2px;
    background: none;
    outline: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.imagemConfirm1{
    display: none;
}
.imagemConfirm2{
    display: block;
    position: relative;
    width: 18px;
    height: 18px;
    left: 2px;
    bottom: 4px;
}
#LabelCheckBox{
    margin-left: 10px;
    color: rgb(151, 151, 151);
    font-size: 10pt;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#boxButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
#enviarForm{
    border-radius: 15px;
    border: none;
    outline: none;
    height: 40px;
    width: 180px;
    color: white;
    font-size: 13pt;
    font-weight: 700;
    background-image: linear-gradient( to right, var(--cor-MarromGradiente), var(--cor-PurpleGradiente));
    cursor: pointer;
}
#enviarForm:hover{
    transition: 0.2s;
    scale: 1.02;
}